@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

body {
  font-family: 'Cantarell', sans-serif;
  background-color: #E5EAFA;
  text-align: center;

}

h1, h2 {
  font-family: 'Sonsie One', sans-serif;
  text-align: center;

}

h1 {
  font-size: 40px;
  color: #BF3100;
}

h2 {
  color: #EC9F05;
}

h3 {
  color: #EC9F05;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

i {
  font-size: 32px;
  color: #BF3100;
}

i:hover {
  color: rgb(70,70,70);
}

.card-white {
  background-color: white;
  width: 700px;
  margin: 20px auto;
  text-align: center;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 10px 10px 0px #BF3100;
}

.btn-red {
  background-color: #BF3100;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  transition: all 3s ease-in-out;
}

.btn-red:hover {
  opacity: 0.5;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  margin: 0 15px;
}

div {
  border: 5px solid white;
  background: white;                         /* White background */
  padding: 40px;                             /* Internal space */
  border-radius: 10px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 700px;
  margin: auto;
  margin-top: 15px;
}
